{{ 'section-breakpoint-banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'breakpoint-sticky-button.js' | asset_url }}" defer="defer"></script>

<section id="BreakpointBanner-{{ section.id }}" class="breakpoint-banner-section">
  <div class="breakpoint-banner-parent">
    {%- if section.settings.background_image_desktop != blank or section.settings.background_image_mobile != blank -%}
      <picture class="breakpoint-banner-bg">
        {%- if section.settings.background_image_mobile != blank -%}
          <source
            media="(max-width: 768px)"
            srcset="{{ section.settings.background_image_mobile | image_url: width: 800 }}"
          >
        {%- endif -%}
        {%- if section.settings.background_image_desktop != blank -%}
          <source
            media="(min-width: 769px)"
            srcset="{{ section.settings.background_image_desktop | image_url: width: 2000 }}"
          >
        {%- endif -%}
        {%- liquid
          if section.settings.background_image_desktop != blank
            assign bg_image = section.settings.background_image_desktop
            assign bg_width = 2000
          else
            assign bg_image = section.settings.background_image_mobile
            assign bg_width = 800
          endif
          assign bg_height = bg_width | divided_by: bg_image.aspect_ratio | round
        -%}
        <img
          loading="lazy"
          src="{{ bg_image | image_url: width: bg_width }}"
          width="{{ bg_width }}"
          height="{{ bg_height }}"
          alt="{{ bg_image.alt | escape }}"
        >
      </picture>
    {%- endif -%}

    <div class="breakpoint-banner-content">
      {%- if section.settings.title_svg != blank -%}
        <div class="breakpoint-banner-title-svg">
          {{ section.settings.title_svg }}
        </div>
      {%- endif -%}

      {%- if section.settings.text != blank -%}
        <div class="breakpoint-banner-text">
          {{ section.settings.text }}
        </div>
      {%- endif -%}
    </div>

    <div class="breakpoint-banner-mobile-button">
        {%- if section.settings.cta_text != blank or section.settings.cta_icon_svg != blank -%}
            <a href="{{ section.settings.cta_link }}" class="breakpoint-banner-cta"><span class="breakpoint-banner-cta-text">{{ section.settings.cta_text }}</span> {{ section.settings.cta_icon_svg }}</a>
        {%- endif -%}
    </div>
  </div>
</section>

<div class="" id="anonymous-btn" style="display: none;">
  <a href="{{ section.settings.cta_link }}" class="breakpoint-banner-cta">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M21.9994 16.9201V19.9201C22.0006 20.1986 21.9435 20.4743 21.832 20.7294C21.7204 20.9846 21.5567 21.2137 21.3515 21.402C21.1463 21.5902 20.904 21.7336 20.6402 21.8228C20.3764 21.912 20.0968 21.9452 19.8194 21.9201C16.7423 21.5857 13.7864 20.5342 11.1894 18.8501C8.77327 17.3148 6.72478 15.2663 5.18945 12.8501C3.49942 10.2413 2.44769 7.27109 2.11944 4.1801C2.09446 3.90356 2.12732 3.62486 2.21595 3.36172C2.30457 3.09859 2.44702 2.85679 2.63421 2.65172C2.82141 2.44665 3.04925 2.28281 3.30324 2.17062C3.55722 2.05843 3.83179 2.00036 4.10945 2.0001H7.10945C7.59475 1.99532 8.06524 2.16718 8.43321 2.48363C8.80118 2.80008 9.04152 3.23954 9.10944 3.7201C9.23607 4.68016 9.4709 5.62282 9.80945 6.5301C9.94399 6.88802 9.97311 7.27701 9.89335 7.65098C9.8136 8.02494 9.62831 8.36821 9.35944 8.6401L8.08944 9.9101C9.513 12.4136 11.5859 14.4865 14.0894 15.9101L15.3594 14.6401C15.6313 14.3712 15.9746 14.1859 16.3486 14.1062C16.7225 14.0264 17.1115 14.0556 17.4694 14.1901C18.3767 14.5286 19.3194 14.7635 20.2794 14.8901C20.7652 14.9586 21.2088 15.2033 21.526 15.5776C21.8431 15.9519 22.0116 16.4297 21.9994 16.9201Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    <span>Anonymously</span>
  </a>
</div>

{% schema %}
{
  "name": "Breakpoint Banner",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Background Images"
    },
    {
      "type": "image_picker",
      "id": "background_image_desktop",
      "label": "Desktop Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Mobile Background Image"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "html",
      "id": "title_svg",
      "label": "Heading SVG",
      "info": "Paste SVG for the heading."
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Description text",
      "default": "24/7 free mental health support for India's medical community"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA text",
      "default": "Speak Anonymously"
    },
    {
      "type": "url",
      "id": "cta_link",
      "label": "CTA link"
    },
    {
      "type": "html",
      "id": "cta_icon_svg",
      "label": "CTA icon SVG",
      "info": "Paste SVG for the phone icon."
    }
  ],
  "presets": [
    {
      "name": "Breakpoint Banner"
    }
  ]
}
{% endschema %}
