

<script
  src="{{ 'marquee.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

<style>
  {% if section.settings.show_bullet_dots == true %}
    .marquee__content .marquee__repeated-items p::before {
      content: "• ";
      font-size: var(--font-size); 
      color: black;
    }
  {% endif %}

  .marquee-section-{{ section.id }}{
    margin-top: {{ section.settings.desktop-margin-top }}px;
  }

  .marquee-section-{{ section.id }} .home-page-ticker-text *{
    font-family: 'Heebo-Semibold';
    font-weight: 600;
  }

  {% if section.settings.ticker_text_style %}
    marquee-component.marquee-section-{{ section.id }}:before {
      content: "";
      background-color: #d4e167;
      position: absolute;
      width: 100%;
      height: 50%;
      left: 0%;
      top: 36%;
    }
  {% endif %}

  {% if section.settings.on_image_settings == true %}
    .marquee-section-{{ section.id }} .marquee__wrapper .marquee__repeated-items img {
      width: {{ section.settings.marquee_image_width }}% !important;
      max-height: {{ section.settings.marquee_image_height }}px;
    }
  {% endif %}

  @media only screen and (max-width: 768px){
    .marquee-section-{{ section.id }}{
      margin-top: {{ section.settings.mobile-margin-top }}px;
    }

    .marquee-section-{{ section.id }}{
       --marquee-gap : {{ section.settings.gap_between_elements_mob }}px ;
    }

  }
</style>

{% assign gap_between_elements = section.settings.gap_between_elements %}

<div class="section section-background color-{{ section.settings.color_scheme }}"></div>
<marquee-component
  class="marquee-section-{{ section.id }} spacing-style gap-style color-{{ section.settings.color_scheme }}"
  style="
    {%- render 'spacing-style', settings: section.settings %};
    {% render 'gap-style', value: gap_between_elements, name: 'marquee-gap' %}
    --marquee-direction: {{ section.settings.movement_direction }};
  "
  data-speed-factor="25"
  data-movement-direction="{{ section.settings.movement_direction }}"
>
  <div
    class="marquee__wrapper"
    ref="wrapper"
  >
    <div
      class="marquee__content"
      ref="content"
    >
      <div
        class="marquee__repeated-items"
        ref="marqueeItems[]"
      >
        {% content_for 'blocks' %}
      </div>
    </div>
  </div>
</marquee-component>

{% stylesheet %}
  marquee-component {
    display: block;
    width: 100%;
    overflow: hidden;
  }

  .marquee__wrapper {
    display: flex;
    gap: var(--marquee-gap);
    width: fit-content;
    white-space: nowrap;
  }

  .marquee__content {
    min-width: max-content;
    display: flex;
    gap: var(--marquee-gap);
  }

  .marquee__content :is(p, h1, h2, h3, h4, h5, h6) {
    white-space: nowrap;
  }

  .marquee__content .marquee__repeated-items * {
    max-width: none;
  }

  .marquee__repeated-items {
    min-width: max-content;
    display: flex;
    gap: var(--marquee-gap);
    align-items: center;
    justify-content: center;
  }

  .marquee__repeated-items > * {
    align-content: center;
  }

  @media (prefers-reduced-motion: no-preference) {
    marquee-component:not([data-disabled]) .marquee__wrapper {
      animation: marquee-motion var(--marquee-speed) linear infinite var(--marquee-direction);
    }
  }

  @keyframes marquee-motion {
    to {
      transform: translate3d(calc(-50% - (var(--marquee-gap) / 2)), 0, 0);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.marquee",
  "disabled_on": {
    "groups": ["footer"]
  },
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "logo"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "movement_direction",
      "label": "t:settings.motion_direction",
      "options": [
        {
          "value": "reverse",
          "label": "t:options.forward"
        },
        {
          "value": "normal",
          "label": "t:options.reverse"
        }
      ],
      "default": "normal"
    },
    {
      "type": "checkbox",
      "id": "show_bullet_dots",
      "label": "List effect (bullet dots)",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "ticker_text_style",
      "label": "Apply Ticker Text CSS",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "checkbox",
      "id": "on_image_settings",
      "label": "Apply image Settings",
      "default": false
    },
    {
      "type": "range",
      "id": "marquee_image_width",
      "label": "Image Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ section.settings.on_image_settings == true }}"
    },
    {
      "type": "range",
      "id": "marquee_image_height",
      "label": "Max-Image Height",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 60,
      "visible_if": "{{ section.settings.on_image_settings == true }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "gap_between_elements",
      "label": "Desktop gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "gap_between_elements_mob",
      "label": "Mobile gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "desktop-margin-top",
      "label": "Desktop Margin top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "mobile-margin-top",
      "label": "Mobile Margin top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.marquee_section",
      "category": "t:categories.text",
      "blocks": {
        "text": {
          "type": "text",
          "settings": {
            "text": "t:html_defaults.make_things_better",
            "type_preset": "custom",
            "font": "var(--font-body--family)",
            "font_size": "var(--font-size--h2)",
            "line_height": "tight",
            "letter_spacing": "tight",
            "case": "none",
            "wrap": "nowrap",
            "width": "fit-content"
          }
        }
      },
      "block_order": ["text"]
    }
  ]
}
{% endschema %}
