{{ 'shop-by-color_new.css' | asset_url | stylesheet_tag }}

<style>
  .shop-by-color-parent-{{ section.id }} {
    margin-top: {{ section.settings.margin_top_desktop }}px;
    margin-bottom: {{ section.settings.margin_bottom_desktop }}px;
  }
  @media screen and (max-width: 768px) {
    .shop-by-color-parent-{{ section.id }} {
      margin-top: {{ section.settings.margin_top_mobile }}px;
      margin-bottom: {{ section.settings.margin_bottom_mobile }}px;
    }
  }
</style>

<div class="shop-by-color-parent shop-by-color-parent-{{ section.id }}">
  <h2 class="sbc-heading">{{ section.settings.section_heading }}</h2>
  <div class="sbc-cards">
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Shop by color (New)",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Shop By Colours"
    },
    {
      "type": "range",
      "id": "margin_top_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_desktop",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Desktop)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_top_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin Top (Mobile)",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin Bottom (Mobile)",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "_collection_color_new"
    }
  ],
  "presets": [
    {
      "name": "Shop by color (New)"
    }
  ]
}
{% endschema %}
