{{ 'swiper.css' | asset_url | stylesheet_tag }}

<style>
    .coll-home{
      margin-top : {{ section.settings.marginTopslidd }}px;
      margin-bottom : {{ section.settings.marginBottomslidd }}px;
    }
    .shop-our-bestsellers .card__heading.name-page {
      display: -webkit-box !important;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: unset;
      line-height: 26.44px;
    }
    .shop-our-bestsellers .swatch-ic-active .is-active img{
      padding: 0;
    }
    .shop-collection-cta {
      background: #462D8C;
      width: 287px;
      height: 42px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
      margin-bottom: 36px;
    }
    .shop-collection-cta a {
      color: white;
      font-size: 14px;
      font-family: 'Heebo-Medium';
      font-weight: 500;
      letter-spacing: 0.6px;
      line-height: 15.84px;
      text-transform: uppercase;
    }
    .main-collection-home .swiper-slide{font-size: initial;}
    .HorizontalList .desktopcolorhide {display: none;}
    .plus-swatch.show-plus-desktop {display: flex;}
    .plus-swatch.show-plus-desktop a{ width: 20px;
      height: 20px !important;
      display: flex;
      align-items: center;}
    .mySwiper-{{ section.id }} .swiper-slide .card-information .imaged-swatch img{height:auto;}
    @media screen and (max-width: 989px) {
    .plus-swatch.show-plus-desktop a{width:16px;height:17px !important;}
  }
     @media screen and (max-width: 640px){
      .coll-home{
        margin-top:{{ section.settings.marginTopsliddmob }}px;
        margin-bottom:{{ section.settings.marginBottomsliddmob }}px;
      }
      .shop-collection-cta{
        margin-top: 12px;
        margin-bottom: 24px;
        width: 180px;
        height: 36px;
      }
      .shop-our-bestsellers .card__heading.name-page{
        line-height: 23.6px;
      }
       .plus-swatch.show-plus-mobile {display: block;}
         .HorizontalList :is(.desktopcolorhide,.mobilecolorhide){display: none;}
        .mySwiper-{{ section.id }}:not(.swiper-initialized) .swiper-slide{display:none;}
        .mySwiper-{{ section.id }}:not(.swiper-initialized) .swiper-slide:first-child{display:block;}
    }
    @media screen and (max-width: 350px) {
      .HorizontalList :is(.desktopcolorhide, .mobilecolorhide, .extrasmallhide) {
      display: none;
    }
  }
</style>

{% if section.settings.collection != blank %}
  <div class="main-collection-home shop-our-bestsellers page-width-updated-left coll-home conditional-class">
    <div class="div-padding{% if section.settings.show_padding_slidd  %} page-padding-right page-padding-left{% endif %} {% if section.settings.show_padding_mob_slidd %}padding-right-mob padding-left-mob{% endif %}">
      <div class="content-home">
        <h2 class="first-line-home font-heebo-medium">{{ section.settings.headText }}</h2>
        <p class="second-line-home font-heebo-regular">{{ section.settings.secondText }}</p>
      </div>

      <div class="swiper mySwiper-{{ section.id }} home-slider ">
        <div class="swiper-wrapper">
          {%- for product in section.settings.collection.products limit: 10 -%}
            <div class="swiper-slide">
              <div class="main-div">
                {%- liquid
                  assign product_card_id = 'product-card-' | append: section.id | append: '-' | append: product.id
                  assign variant_to_link = product.selected_or_first_available_variant
                -%}
                <product-card
                  class="product-card"
                  data-product-id="{{ product.id }}"
                  data-product-variants-size="{{ product.variants.size }}"
                  id="{{ product_card_id }}"
                >
                  <a
                    id="{{ product_card_id | md5 }}"
                    href="{{ variant_to_link.url }}"
                    class="product-card__link"
                    ref="productCardLink"
                  >
                    <span class="visually-hidden">{{ product.title }}</span>
                  </a>
                  <div class="product-card__content layout-panel-flex layout-panel-flex--column product-grid__card spacing-style gap-style">
                    {%- if product.featured_image -%}
                      <div class="card-gallery">
                        <a href="{{ variant_to_link.url }}">
                          <img
                            src="{{ product.featured_image | image_url: width: 500 }}"
                            alt="{{ product.featured_image.alt | escape }}"
                            loading="lazy"
                            width="{{ product.featured_image.width }}"
                            height="{{ product.featured_image.height }}"
                          >
                        </a>
                      </div>
                    {%- endif -%}
                    <a
                      class="contents user-select-text"
                      href="{% render 'product-card-variant-url', product: product %}"
                    >
                      <p class="rte">{{ product.title }}</p>
                    </a>
                    <product-price class="text-block text-left h6 spacing-style" data-product-id="{{ product.id }}">
                      {% render 'price',
                        show_unit_price: true,
                        product_resource: product,
                        show_sale_price_first: true
                      %}
                    </product-price>
                  </div>
                </product-card>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next home-next">{% render 'next-icon-home' %}</div>
        <div class="swiper-button-prev home-prev">{% render 'prev-icon-home' %}</div>
        {% if section.settings.pagination %}
          <div class="swiper-pagination"></div>
        {% endif %}
      </div>
      {% if section.settings.shop_collection_text != blank and section.settings.shop_collection_url != blank %}
        <div class="shop-collection-cta">
          <a href="{{ section.settings.shop_collection_url }}">{{ section.settings.shop_collection_text }}</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

<script>
  window.addEventListener(
    'DOMContentLoaded',
    () => {
      var swiper = new Swiper('.mySwiper-{{ section.id }}', {
        slidesPerView: 4.5,
        spaceBetween: 12,
        slidesPerGroup: 1,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
        breakpoints: {
          0: {
            slidesPerView: 1.5,
            spaceBetween: 12,
          },
          500: {
            slidesPerView: 1.5,
            spaceBetween: 12,
          },
          660: {
            slidesPerView: 2.2,
            spaceBetween: 12,
          },
          900: {
            slidesPerView: 2.5,
            spaceBetween: 24,
          },
          1100: {
            slidesPerView: 4.5,
            spaceBetween: 24,
          },
          2100: {
            slidesPerView: 3.5,
            spaceBetween: 24,
          },
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    },
    { once: true }
  );
</script>

{% schema %}
{
  "name": "Best Seller Collection",
  "settings": [
    {
      "type": "text",
      "id": "shop-now-cont",
      "label": "Shop now text"
    },
    {
      "type": "checkbox",
      "id": "show_padding_slidd",
      "label": "padding for section",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "pagination",
      "label": "show dot on slider",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "show_padding_mob_slidd",
      "label": "padding for section in mobile",
      "default": true
    },
    {
      "type": "text",
      "id": "shop_collection_text",
      "label": "Shop Collection CTA Text"
    },
    {
      "type": "url",
      "id": "shop_collection_url",
      "label": "Shop Collection CTA URL"
    },
    {
      "type": "range",
      "id": "marginTopslidd",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Desktop : Margin-Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginBottomslidd",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Desktop : Margin-Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginTopsliddmob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile : Margin-Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "marginBottomsliddmob",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Mobile : Margin-Bottom",
      "default": 0
    },

    {
      "type": "text",
      "id": "headText",
      "label": "enter heading"
    },
    {
      "type": "text",
      "id": "secondText",
      "label": "enter content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Best Seller Collection"
    }
  ]
}
{% endschema %}
